body{
    
    font-family: Arial, Helvetica, sans-serif;
}
.bgImage{
    background-image: url('images/who-5273780_1920.jpg');
    background-size: cover;
    background-attachment:fixed;
    height:100vh;
    width:100%;
    opacity:0.7;
}
nav{
  display:flex;
} 

.line1{
    font-size: 60px;
    color:white;  
}
.line3{
    margin:20px 0px 0px 40px;
    font-size: 15px;
    color:white;  
    letter-spacing: 4px;
    
}
.banner{
    color:white;
    text-align:center;
    top:40%;
    left:13%;
    position:absolute;
    transform:translate(-50%,-50%);
    font-size:20px;
    bottom:50%;
}
.linedevider{
    background-color:white;
    height: 5px;
    width: 100px;
    margin:auto;
    border-radius:30px;
}
.fancylinedevider{
    height: 5px;
    width:100px;
    text-align: center;
    background-color:#31A9FF;
    border-radius:50px;
    margin-top:-40px;
}
.pro-image{
    height:70vh;
    width:100%;
}
.insta-img{
    height:120px;
    width:120px;
}
#title{
    font-size: 50px;
    margin-top: 7px;
}
#sub-title{
    font-size: 20px;
    margin-top: -27px;
}
.project-info {
    padding:30px 0px 0px 10px;
    font-size: 20px;
    line-height: 30px;
}
button{
    margin-top: 30px;
    border-radius:50px !important;
    background-color: #31A9FF !important;
    color: #ffff;
    width: 200px;
    height: 50px;
    border:none !important;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1) !important  ;
    transition: all 0.3s ease 0s !important;
}
button:hover {
    background-color: #2EE59D !important;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4) !important;
    color: #fff;
    transform: translateY(-7px) ;
  }
.ph-image{
    width:350px;
  }
.ed-img{
    height:120px;
    width:120px;
}
.disp{
    margin:auto;
}
.ph1-image{
    width:350px;
}
.ic-img{
    height:120px;
    width:120px;
}
.horizontal-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.recent-article-date{
    font-size: 15px;
    color:#6e34ff;
}
.recent-article-title{
    color: #2E2E2E;
    font-size: 25px;
}
a{
    text-decoration: none !important;
    background-color: transparent !important ;
}
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
footer{
    background-color:black !important;
    padding-bottom: 100px;
}
.my-image div{
    background-image: url('images/shoes.PNG');
    height:150px;
    width: 150px;
    background-size: cover;
    border-radius: 50% !important;
    margin:auto;
}
.footer-section .my-image p{
    font-size: 25px;
    color:white;
    padding-top: 12px;
    padding-bottom: 10px;
}
.footer-section .know-more{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
/* .footer-section .know-more a{
    text-decoration: none;
    padding-top: 5px;
    padding-right: 40px;
    color: white;
    padding-left: 40px;
    padding-bottom: 5px;
    width: 123px;
    font-size: 20px;
    font-family: avenir-light;
    border: 1px solid whitesmoke;
} */
.footer-section .info-section p{
    color: #a5a5a5;
    font-size: 18px;
    text-align: center;
    font-family: avenir-Light;
    padding-bottom: 50px;
    padding-top: 50px;
}

@media screen and (max-width:1024px){
    
}
@media screen and (max-width:996px){
    
}
@media screen and (max-width:768px){
    
}
@media screen and (max-width:576px){
    .linedevider{
        width:100%;
        margin-left: 0;
        margin-top:0;
    }
    .banner{
        bottom: 0;
    }
    .pro-image{
        width:100%;
    }
}


