body{
    font-family: Arial, Helvetica, sans-serif;
}
nav a{
    color:#ffffff;
    margin-left:20px;
}
.nav-link:hover{
    color:white !important;
}
.bgImage{
    background-image: url('images/who-5273780_1920.jpg');
    background-size: cover;
    background-attachment:fixed;
    background-repeat: no-repeat;
    height:100vh;
    width:100%;
    opacity:0.7;
}
.banner-text{
    margin-top:200px;
    margin-left:150px;
}
.banner-text h1{
    font-size:60px;
    color:white;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
}
.line-devider{
    background-color:white;
    height: 7px;
    width: 211px;
    border-radius:30px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.line1{
    font-size: 15px;
    color:white;  
    letter-spacing: 4px;
}
.Heading-1 h1{
    margin-top:40px;
    font-size: 40px;
    text-transform: uppercase;
}
.design-info-overlay{
    opacity: 1;
}
.design-info-overlay:hover{
    opacity: 0.5;
    transform: scale(1.1);
}
.fancylinedevider{
    height: 5px;
    width:130px;
    text-align: center;
    background-color:#31A9FF;
    border-radius:50px;
}
.pro-image{
    height:70vh;
    width:100%;
}
.insta-img{
    height:120px;
    width:120px;
}
#title{
    font-size: 50px;
    margin-top: 7px;
}
#sub-title{
    font-size: 20px;
    margin-top: -27px;
}
.project-info {
    padding:30px 0px 0px 10px;
    font-size: 20px;
    line-height: 30px;
}
.btn-1{
    margin-top: 30px;
    border-radius:50px !important;
    background-color: #31A9FF !important;
    color: #ffff;
    width: 200px;
    height: 50px;
    border:none !important;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1) !important  ;
    transition: all 0.3s ease 0s !important;
}
.btn-1:hover {
    background-color: #2EE59D !important;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4) !important;
    color: #fff;
    transform: translateY(-7px) ;
  }
.ph-image{
    width:350px;
  }
.ed-img{
    height:120px;
    width:120px;
}
.disp{
    margin:auto;
}
.ph1-image{
    width:350px;
}
.ic-img{
    height:120px;
    width:120px;
}
.recent-article-date{
    font-size: 15px;
    color:#6e34ff;
}
.recent-article-title{
    color: #2E2E2E;
    font-size: 25px;
}
.recent-article-title:hover{
   text-decoration: none;
   color:black;
}

footer{
    background-color:black !important;
}
/* .footer-section{
    padding-bottom:100px ;
} */
.rounded-img{
    height:150px;
}
.footer-section .rounded-img div{
    background-image: url('images/Bulbshape.PNG');
    height: 150px;
    width: 150px;
    background-size: cover;
    border-radius: 50%;
}
.footer-section .rounded-img p{
    font-size: 25px;
    color: white;
    padding-top: 12px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
}
.footer-section .know-more a{
    text-decoration: none;
    padding-top: 5px;
    padding-right: 40px;
    color: white;
    padding-left: 40px;
    padding-bottom: 5px;
    width: 123px;
    font-size: 20px;
    border: 1px solid whitesmoke;
}
.footer-section .know-more a:hover{
    background-color: whitesmoke;
    color: #000;
}
.footer-section .info-section p {
    color: #a5a5a5;
    font-size: 18px;
    text-align: center;
    font-family: avenir-Light;
    padding-bottom: 50px;
    padding-top: 50px;
}
 .sub{
    font-size: 18px;
    color:#797979;
}
.footer-section .follow-me a{
    font-size: 40px;
    text-decoration: none;
    color: #797979;
    padding: 12px;
}
.footer-section .copy-right p{
    font-size: 18px;
    color: #797979;
    margin-top:50px;
    padding: 10px;
    margin-bottom: 0px;
}



